<style>
    .container {
        padding:0;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }

    .box {
        grid-column-start:2;
        grid-column-end:5;
    }
    ul {
        list-style-type: none;
    }
    input[type=text] {
        width: 130px;
        box-sizing: border-box;
        border-radius: 8px;
        font-size: 12px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

        input[type=text]:focus {
            width: 50%;
        }
</style>
<nav style="background-color: gray">
    <a href="#!NewArticle"><input type="button" value="Add new Article" /></a>
    <input ng-model="search" type="text" name="search" placeholder="Search..">
</nav>
<div ng-hide="kb" class="container">
    <div>
        <aside>
            <table>
                <tr>Subjets:</tr>
                <tr><td><hr /></td></tr>
                <tr><td ng-click="subject='Application'">Application</td></tr>
                <tr><td ng-click="subject='Devices'">Devices</td></tr>
                <tr><td ng-click="subject='Email'">Email</td></tr>
                <tr><td ng-click="subject='IT'">IT</td></tr>
                <tr><td ng-click="subject='Operating System'">Operating System</td></tr>
            </table>
        </aside>
    </div>
    <div class="box">

        <ul>
            <a ng-click="kb=true">
                <li ng-repeat="item in items| filter:search" ng-show="item.subject">
                    KB: {{item.id}} <span style="float:right">{{item.postedByName}}</span>
                    <br />
                    {{item.title}}
                    <hr />
                </li>
            </a>
        </ul>

    </div>
</div>
<div ng-show="kb">
    <button style="float:right" class="btn btn-danger" ng-click="kb=false">X</button>
    KB: {{item.id}}
    <br /><span>{{item.postedByName}}</span>

    <br /><br />
    {{item.content}}
</div>