<style>
    .container {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }

    .box {
        grid-column-start: 2;
        grid-column-end: 5;
    }

    ul {
        list-style-type: none;
    }

    input[type=text] {
        width: 130px;
        box-sizing: border-box;
        border-radius: 8px;
        font-size: 12px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

        input[type=text]:focus {
            width: 50%;
        }
</style>
<nav style="background-color: gray">
    <a href="#!NewArticle"><input type="button" value="Add new Article" /></a>
    <input ng-model="search" type="text" name="search" placeholder="Search..">
</nav>
<div class="container">
    <div style="float:left;border:none">
        <ul>
            <li><a ng-click="sendRequest()" ng-bind-html="subject = 'Application'">Application</a></li>
            <li><a ng-click="sendRequest()" ng-bind-html="subject = 'Devices'">Devices</a></li>
            <li><a ng-click="sendRequest()" ng-bind-html="subject = 'Email'">Email</a></li>
            <li><a ng-click="sendRequest()" ng-bind-html="subject = 'IT'">IT</a></li>
            <li><a ng-click="sendRequest()" ng-bind-html="subject = 'Operating System'">Operating System</a></li>
        </ul>
    </div>
    <div>
        {{subject}}

    </div>
</div>

