<style>
    .Container {
        display: grid;
        position: relative;
        grid-template-columns: repeat(2,1fr);
        padding: 0%;
        height: 100%;
        margin: 0;
        grid-gap: 10px;
    }

    .box {
        border: 2px solid black;
        border-radius: 12px;
    }
</style>
<div class="container">
    <label>Article number:</label><input type="text" disabled="disabled" placeholder="KB{{ID}}"/>
    <label>Title: </label><input ng-model="title" type="text" placeholder="Your article title..."/>
    <label>Info: </label><input ng-model="content" type="text" placeholder="This is where you should start typing..."/>
    <input ng-click="submitArticle()" type="submit" value="Submit" style="background-color: darkslateblue" />
</div>