<style>
    .Container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    img {
        width: 200px;
        height: 200px;
    }
    input[type="text"] {
        width: 300px;
    }   
    input[type="number"] {
        width: 300px;
    }
    input[type="datetime-local"] {
        width: 300px;
    }

    #Short_Discription {
        width: 650px;
        max-width: 80%;
    }

    textarea {
        width: 650px;
        max-width: 80%;
        height: 150px;
        max-height: 300px;
    }

        textarea:focus {
            border: 2px solid purple;
        }

    input:focus {
        border: 2px solid purple;
    }
</style>
<nav style="background-color: gray">
    <i ng-click="attachment=true" class="fas fa-paperclip"></i>
</nav>
<div class="Container">
    <div>
        <label class=" col-xs-12 col-md-3 col-lg-4 control-label">Number</label>
        <input class="input-group-addon" type="number" />
        <br />
        <label class=" col-xs-12 col-md-3 col-lg-4 control-label">Caller</label>
        <input class="input-group-addon" type="text" />
        <br />
        <label class=" col-xs-12 col-md-3 col-lg-4 control-label">Open At: </label>
        <input disabled class="input-group-addon" type="datetime-local" />
        <br />
    </div>
    <div>
        <label class=" col-xs-12 col-md-3 col-lg-4 control-label">Category</label>
        <select style="max-width:250px;float:right" class="form-control">
            <option>--None--</option>
            <option>Inquiry/Help</option>
            <option>Software</option>
            <option>Hardware</option>
            <option>Network</option>
        </select>
        <br />
        <br />
        <label class=" col-xs-12 col-md-3 col-lg-4 control-label">Assigment Group: </label>
        <select disabled style="max-width:250px;float:right" class="form-control">
            <option>Global Service Desk</option>
        </select>
        <br />
        <br />
        <label class=" col-xs-12 col-md-3 col-lg-4 control-label">Assgin To:</label>
        <input disabled class="input-group-addon" style="float:right" type="text" />
    </div>
</div>
<br />
<br />
<div>
    <label class=" col-xs-12 col-md-3 col-lg-4 control-label">Short Description: </label>
    <input id="Short_Discription" class="input-group-addon" type="text" />
    <br />
    <label class=" col-xs-12 col-md-3 col-lg-4 control-label">Description: </label>
    <textarea class="input-group-addon" type="text"></textarea>
    <br />
    <input class="btn btn-lg" type="submit" value="Submit"/>
</div>
<div ng-show="attachment">
    <input ng-click="attachment=false" type="button" class="btn btn-danger" value="X" />
    <div ng-controller="UploadController ">
        <form>
            <input type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc">
        </form>

        <img ng-src="{{imageSrc}}" />

    </div>
</div>