<style>
    .Container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1,1fr);
    }

    input[type="text"] {
        width: 300px;
    }
    input:focus {
        border: 1px solid purple;
    }
</style>
<div class="Container" ng-repeat="info in information">
    <div>
        <label class=" col-xs-12 col-md-3 col-lg-4 control-label">First Name</label>
        <input ng-model="firstName" class="input-group-addon" type="text"/>
        <br />
        <label class=" col-xs-12 col-md-3 col-lg-4 control-label">Business Phone</label>
        <input disabled="disabled" class="input-group-addon" type="text" value="{{info.phoneNumber}}" />
        <br />
        <label class=" col-xs-12 col-md-3 col-lg-4 control-label">title</label>
        <input disabled="disabled" class="input-group-addon" type="text" value="{{info.jobTitle}}" />
        <br />
        <input ng-click="UpdateProfile()" style="padding: 10px" class="form_action_button  action_context btn btn-default" type="button" value="Update" />
        <!--<input ng-click="UpdateProfilePic=true" style="padding: 10px" class="form_action_button  action_context btn btn-default" type="button" value="Update your profile pic" />-->
        <input ng-click="passwordReset=true" style="padding: 10px" class="form_action_button  action_context btn btn-default" type="button" value="Reset Password" />
    </div>
    <div>
        <label class="col-xs-12 col-md-3 col-lg-4 control-label">Last Name</label>
        <input ng-model="lastName" class="input-group-addon" type="text" />
        <br />
        <label class=" col-xs-12 col-md-3 col-lg-4 control-label">Title</label>
        <input disabled="disabled" class="input-group-addon" type="text" value="{{info.jobTitle}}" />
        <label class=" col-xs-12 col-md-3 col-lg-4 control-label">Email</label>
        <input disabled="disabled" class="input-group-addon" type="text" value="{{info.emailAddress}}" />
    </div>
    <div ng-show="passwordReset">
        <button style="float:right" ng-click="passwordReset=false" class="btn btn-danger">X</button><br /><br />
        <label class="col-xs-12 col-md-3 col-lg-4 control-label">Login ID</label>
        <input disabled="disabled" ng-model="LoginID" class="input-group-addon" type="text" value="{{LoginID}}" />
        <label class="col-xs-12 col-md-3 col-lg-4 control-label">Old password</label>
        <input ng-model="Password" class="input-group-addon" type="password" placeholder="please enter your old password here" />
        <br />
        <label class="col-xs-12 col-md-3 col-lg-4 control-label">New password</label>
        <input ng-model="NewPassword" class="input-group-addon" type="password" placeholder="Enter your New password here" />
        <br />
        <input ng-click="Reset()" style="padding: 10px" class="form_action_button  action_context btn btn-default" type="button" value="Reset your password" />
    </div>
    <!--<div ng-show="UpdateProfilePic">
        <button ng-click="UpdateProfilePic=false" style="float:right" class="btn btn-danger">X</button><br />
        <div ng-repeat="img in images">
            <input class="btn-group radio" name="Avatar" type="radio" />
            <img src="{{img.img}}" style="width:60px;height:58px;padding:2px" />
        </div>
        <br />
        <input ng-click="UpdateImg()" style="padding: 10px" class="form_action_button  action_context btn btn-default" type="button" value="Update" />
    </div>-->
</div>