<style>
    .Container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    input[type="text"] {
        width: 350px;
    }
    input:focus {
        border: 1px solid purple;

    }
    label {
        margin: 5px;
        padding: 10px;
    }
</style>
<div class="Container" ng-repeat="info in information">
    <div>
        <label class=" col-xs-12 col-md-3 col-lg-4 control-label">First Name</label>
        <input class="input-group-addon" type="text" value="{{info.firstName}}" />
        <br />
        <label class=" col-xs-12 col-md-3 col-lg-4 control-label">Business Phone</label>
        <input disabled="disabled" class="input-group-addon" type="text" value="{{info.phoneNumber}}" />
        <br />
        <label class=" col-xs-12 col-md-3 col-lg-4 control-label">title</label>
        <input disabled="disabled"  class="input-group-addon" type="text" value="{{info.jobTitle}}" />
        <br />
        <input ng-click="UpdateProfile()" style="padding: 10px" class="form_action_button  action_context btn btn-default" type="button" value="Update" />
        <input style="padding: 10px" class="form_action_button  action_context btn btn-default" type="button" value="Reset Password" />
    </div>
    <div>
        <label  class="col-xs-12 col-md-3 col-lg-4 control-label">Last Name</label>
        <input class="input-group-addon" type="text" value="{{info.lastName}}" />
        <br/>
        <label class=" col-xs-12 col-md-3 col-lg-4 control-label">Email</label>
        <input disabled="disabled" class="input-group-addon" type="text" value="{{info.emailAddress}}" />
    </div>
</div>
