<style>
    .Container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1,1fr);
        
    }

    input[type="text"] {
        width: 300px;
    }

    input:focus {
        border: 1px solid purple;
    }
</style>
    <div class="Container" ng-repeat="info in information">
        <div>
            <label class=" col-xs-12 col-md-3 col-lg-4 control-label">First Name</label>
            <input ng-model="firstName" class="input-group-addon" type="text" value="{{info.firstName}}" />
            <br />
            <label class=" col-xs-12 col-md-3 col-lg-4 control-label">Business Phone</label>
            <input disabled="disabled" class="input-group-addon" type="text" value="{{info.phoneNumber}}" />
            <br />
            <label class=" col-xs-12 col-md-3 col-lg-4 control-label">title</label>
            <input disabled="disabled" class="input-group-addon" type="text" value="{{info.jobTitle}}" />
            <br />
            <input ng-click="UpdateProfile()" style="padding: 10px" class="form_action_button  action_context btn btn-default" type="button" value="Update" />
            <input ng-click="passwordReset=true" style="padding: 10px" class="form_action_button  action_context btn btn-default" type="button" value="Reset Password" />
        </div>
        <div>
            <label class="col-xs-12 col-md-3 col-lg-4 control-label">Last Name</label>
            <input ng-model="lastName" class="input-group-addon" type="text" value="{{info.lastName}}" />
            <br />
            <label class=" col-xs-12 col-md-3 col-lg-4 control-label">Email</label>
            <input disabled="disabled" class="input-group-addon" type="text" value="{{info.emailAddress}}" />
        </div>
        <form class="password" ng-show="passwordReset">
            <button ng-click="passwordReset=false" class="">X</button><br />
            <label class="col-xs-12 col-md-3 col-lg-4 control-label">Login ID</label>
            <input disabled="disabled" ng-model="LoginID" class="input-group-addon" type="text" value="{{LoginID}}" />
            <label class="col-xs-12 col-md-3 col-lg-4 control-label">Old password</label>
            <input ng-model="password" class="input-group-addon" type="password" placeholder="please enter your old password here"/>
            <label class="col-xs-12 col-md-3 col-lg-4 control-label">New password</label>
            <input ng-model="newPassword" class="input-group-addon" type="password" placeholder="Enter your New password here" />
            <input ng-click="Reset()" style="padding: 10px" class="form_action_button  action_context btn btn-default" type="button" value="Reset your password" />
        </form>
    </div>